#header {
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

#header .row {
    margin: 2rem 0rem 2rem;
    padding: 6rem 0rem;
    height: 100vh;

    display: flex;
    align-items: center;
}